body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.navbar {
  background-color: #3498db;
  width: 100%;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-label {
  font-size: 18px;
  margin-bottom: 10px;
}

.form-input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.form-button {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #2980b9;
}